body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url(../images/card/wall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#player1Card, #player2Card {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 2px solid rgb(121, 97, 66);
    box-shadow: 5px 5px 10px 2px;
    background-image: url(../images/card/fond-bois.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#player1Card {
    left: 30px;
    z-index: 5;
}
#player2Card {
    right: 30px;
    z-index: 5;
}

.textCard {
    font-size: 20px;
    font-family: calibri;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 6;
}
#sword, #bardiche, #hammer, #axe, #player1, #player2 {
    z-index: 1;
}
.tileOverlay {
    z-index: 2;
}
td {
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 70px;
}
#battlefield {
    z-index: 4;
    width: 100%;
    height: 100vh;
    height: 100vh;
    position: absolute;
    background-image: url(../images/battlefield-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}
#interfaceBattlefieldContainer {
z-index: 5;
}
#player1EltFight, #player2EltFight {
    z-index: 6;
}

/* interface du champ de bataille */

#interfaceBattlefieldContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
}

#interfaceBattlefield {
    width: 35%;
    height: 140px;
    position: absolute;
    bottom: 5%;
    background-color: rgb(119, 89, 49);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px;
}

.buttonGame {
    position: absolute;
    width: 150px;
    height: 50px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgba(95, 79, 58, 0.781);
    border-radius: 5px;
    font-size: 16px;
    border: rgba(121, 97, 66, 0.692);
    box-shadow: 2px 2px 10px 2px black;
    transition-property: 'background-color';
    transition-duration: 0.2s;
    cursor: pointer;
}

.buttonGame:hover {
    background-color: rgba(165, 143, 114, 0.781);
    transition-property: 'background-color';
    transition-duration: 0.2s;
}

.buttonDesactivated {
    color: rgb(48, 48, 48);
    position: absolute;
    width: 150px;
    height: 50px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    background-color: rgba(95, 79, 58, 0.781);
    border-radius: 5px;
    font-size: 16px;
    border: rgba(121, 97, 66, 0.692);
    box-shadow: 2px 2px 10px 2px black;
}

#player1attack {
    top: 10px;
    left: 10px;
}

#player1defense {
    bottom: 10px;
    left: 10px;
}

#player2attack {
    top: 10px;
    right: 10px;
}

#player2defense {
    bottom: 10px;
    right: 10px;
}

.hit {
    background-image: url(../images/hit.png);
    width: 70px;
    height: 70px;
    z-index: 6;
}

#buttonReloading {
    position: relative;
    top: 20%;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px black;
    background-color: rgba(121, 97, 66, 0.692);
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

/* éléments des joueurs visibles sur le champ de bataille */

#player1EltFight {
    z-index: 3;
    width: 200px;
    height: 121px;
    position: absolute;
    left: 35%;
    top: 60%;
    background-repeat: no-repeat;
}

#player2EltFight {
    z-index: 3;
    width: 200px;
    height: 122px;
    position: absolute;
    left: 55%;
    top: 60%;
    background-repeat: no-repeat;
}

.p1attacking {
    animation: p1attack 1s;
}

.p2attacking {
    animation: p2attack 1s;
}

@keyframes p1attack {
    0% {
        top: 60%;
        left: 35%;
    }

    20% {
        top: 60%;
        left: 55%;
    }

    100% {
        top: 60%;
        left: 35%;
    }
}

@keyframes p2attack {
    0% {
        top: 60%;
        left: 55%;
    }

    20% {
        top: 60%;
        left: 35%;
    }

    100% {
        top: 60%;
        left: 55%;
    }
}

.hit {
    opacity: 0;
    animation: beingHit 1s;
}

@keyframes beingHit {
    0% {
        opacity: 0;
    }

    7% {
        opacity: 0;
    }

    16% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

#endMessageContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    Height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
}

#endMessage {
    width: 50%;
    height: 50%;
    background-color: rgb(99, 78, 58);
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: endMessageAppear 1s;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px black;
    z-index: 7;
}
.endMessageAnimation {
    animation: endMessageAppear 1s;
}
@keyframes endMessageAppear {
    0% {
        opacity: 0;
    }
    100 {
        opacity: 1;
    }
}

#buttonReloading {
    position: relative;
    top: 20%;
    height: 70px;
    width: 170px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px black;
    background-color: rgba(121, 97, 66, 0.692);
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

/* input noms des joueurs */
#inputContainerContainer {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    z-index: 8;
    top: 0;
    background-color: rgba(134, 111, 81, 0.733);
}

#inputNameContainer {
    z-index: 7;
    border: solid 1px black;
    width: 300px;
    height: 300px;
    background-color: rgba(121, 97, 66, 1);
    border-radius: 5px;
    box-shadow: 2px 2px 10px 2px;
    top: 45%;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputName {
    width: 180px;
    height: 30px;
    z-index: 7;
}
#labelInputP1, #labelInputP2, #inputNameP1, #inputNameP2, #cancel, #inputNameButton   {
    background-color: rgba(65, 52, 33, 0.664);
    color: white;
    font-size: 20px;
    font-family: calibri;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 3px;
    border: solid 1px black;
    z-index: 8;
}

#labelInputP1, #labelInputP2 {
    width: 220px;
}

#cancel, #inputNameButton {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin: 10px;
}

#inputName {
    background-color: rgba(112, 94, 66, 0.568);
    color: white;
}